.aboutAltTitle {
    font-size: 23px;
    font-weight: 500;
    margin-top: 35px;
    margin-bottom: 30px;
}

#gradPic {
    width: 300px;
    margin-top: 35px;
    margin-bottom: 40px;
    border: 7px solid rgb(255, 255, 255);
}

.linkText {
    text-decoration: none;
    color: #d3d3d3;
    font-weight: bold;
}

.linkText:hover {
    color: #d3d3d3;
    text-decoration: underline;
}

.galleryImageAbout {
    aspect-ratio: 1;
    object-fit: cover;
}
