/* About */

#about {
    width: 100%;
    max-width: calc(700px + 3rem);
    margin: 50px auto;
    padding: 0 18.7px;
}

#intro {
    margin: 50px 0;
}

#pageTitle {
    font-weight: 400;
    font-size: 33px;
}

#pageSubtitle {
    font-size: 18px;
    font-weight: 300;
    color: #d3d3d3;
}
