/*--------------------- Cards - Apps ---------------------*/

.card-app {
    width: 30rem;
    transition: transform ease 100ms;
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
        rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.card-app:hover {
    transform: translate(0, -7px);
}

.card a {
    text-decoration: none;
    color: #000000;
}

/*--------------------- Cards - Notes ---------------------*/

.card-note {
    width: 30rem;
    transition: transform ease 100ms;
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
        rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

.card-note:hover {
    transform: translate(0, -7px);
}

/*--------------------- Cards - Quotes ---------------------*/

.card-quotes {
    width: 30rem;
    transition: transform ease 100ms;
    border: 0;
    box-shadow: rgba(0, 0, 0, 0.3) 0px 19px 38px,
        rgba(0, 0, 0, 0.22) 0px 15px 12px;
}

#quoteTitle {
    font-family: 'Merriweather';
    font-style: italic;
    line-height: 30px;
    font-size: 18px;
}

#quoteAuthor {
    font-size: 16px;
}
