/* global header */

.header__navigation {
    color: #fff;
    text-decoration: none;
}

.header__navigation:hover {
    color: #fff;
}

.header__name {
    font-size: 16px;
    font-weight: 500;
}

.header__name:hover {
    color: #c0c0c7;
}

.header__image {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.dropdown-toggle {
    border: 0;
    background-color: #1a1e2e;
    color: #fff;
    font-size: 17px;
    font-size: 16px;
    font-weight: 500;
}

.dropdown-menu {
    background-color: #2b3047;
    padding: 7px;
    border-radius: 12px;
}

.dropdown-item {
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
}

.dropdown-item:hover {
    background-color: #363b50;
    color: #fff;
    border-radius: 8px;
}
