/* .FaArrowRight { 
    margin: 0 10px;
    font-size: 18px;
} */

.FaChevronCircleLeft {
    font-size: 35px;
    margin-right: 10px;
    color: #ffffff;
}

.FaChevronCircleLeft:hover {
    color: #c0c0c7;
    cursor: pointer;
}

.HiExternalLink {
    margin-left: 5px;
}
