@import url("https://fonts.googleapis.com/css2?family=Inter:wght@100;200;300;400;500;600;700;800;900&display=swap");

* {
    box-sizing: border-box;
    font-family: "Inter", "Helvetica Neue", system-ui, -apple-system,
        BlinkMacSystemFont, "Segoe UI", Roboto, Oxygen, Ubuntu, Cantarell,
        "Open Sans", sans-serif;
}

body {
    background-color: #1a1e2e;
    color: #ffffff;
}

/* global layout */

#header {
    width: 100%;
    max-width: calc(700px + 3rem);
    margin: 30px auto;
    padding: 0 10px;
}

#home,
#about,
#apps,
#notes,
#post,
#work,
#pageNotFound {
    width: 100%;
    max-width: calc(700px + 3rem);
    margin: 50px auto;
    padding: 0 18.7px;
}

/* global page title and subtitle */

.page__title {
    font-size: 2.2rem;
    font-weight: 700;
}

.page__subtitle {
    margin-top: 40px;
    margin-bottom: 25px;
    font-size: 1.2rem;
    font-weight: 700;
}

.page__content {
    margin-top: 1.2em;
    color: rgba(242, 244, 255, 0.8);
    font-size: 1.05rem;
    line-height: 35px;
}

/* global images no drag */

img {
    user-select: none;
    -moz-user-select: none;
    -webkit-user-drag: none;
    -webkit-user-select: none;
    -ms-user-select: none;
}

/* global horizontal line */

.horizontalLine {
    margin: 40px 0;
}

/* global header */

.header__navigation {
    color: #fff;
    text-decoration: none;
}

.header__navigation:hover {
    color: #fff;
}

.header__name {
    font-size: 16px;
    font-weight: 500;
}

.header__name:hover {
    color: #c0c0c7;
}

.header__image {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}

.dropdown-toggle {
    border: 0;
    background-color: #1a1e2e;
    color: #fff;
    font-size: 17px;
    font-size: 16px;
    font-weight: 500;
}

.dropdown-menu {
    background-color: #2b3047;
    padding: 7px;
    border-radius: 12px;
}

.dropdown-item {
    color: #fff;
    padding: 10px 20px;
    font-size: 16px;
    font-weight: 500;
}

.dropdown-item:hover {
    background-color: #363b50;
    color: #fff;
    border-radius: 8px;
}

/* global footer */

#footer {
    text-align: center;
    margin-top: 40px;
    margin-bottom: 60px;
    margin-left: 0;
    margin-right: 0;
}

.footer__text {
    font-size: 0.88rem;
    color: rgba(228, 232, 250, 0.55);
    font-weight: 500;
}

/* page not found */

.page__not__found__link {
    color: #fff;
}
.page__not__found__link:hover {
    color: rgba(228, 232, 250, 0.55);
}
