#navigation {
    margin: 50px 0;
}

.navigation__item {
    border-radius: 22px;
    padding: 38.4px 25.6px 32px;
}

.navigation__item:hover {
    transform: translate(0, -7px);
    transition: all 0.1s linear;
}

.navigation__title {
    font-size: 28.8px;
    font-weight: 700;
    color: #fff;
}

.navigation__subtitle {
    font-size: 18px;
    color: #fff;
}

.navigation__link__text {
    text-decoration: none;
    color: #fff;
}

.navigation__link__text:hover {
    color: #fff;
}

.apps {
    background: linear-gradient(0, #9761a9, #4a4f9c);
}

.notes {
    background: linear-gradient(-5deg, #479aa5, #5473cb 60%, #3e509d);
}

.twitter {
    background: linear-gradient(
        144deg,
        #84d0ff,
        #19a7ff 50%,
        #1da1f2 60%,
        #1a7ee9
    );
    padding: 50px;
    color: #fff;
}

.github {
    background: linear-gradient(144deg, #fff, #c3cbff 60%, #af99ff);
    padding: 50px;
    color: #343434;
}

.linkedin {
    background: linear-gradient(144deg, #fff, #b8d3ff 70%, #8fceff);
    padding: 50px;
    color: #0077b5;
}

#mountainImage {
    max-width: 80%;
    margin: 2.5rem 0 0 auto;
    width: 240px;
}

#notesImage {
    max-width: 60%;
    margin: 0.5rem auto 1.6rem;
    width: 160px;
}

.navigation__social__image {
    font-size: 58px;
}
