.notesItem {
    border-radius: 26px;
    padding: 38.4px 25.6px 32px;
    line-height: 1.5;
}

.notesItem:hover {
    transform: translate(0, -7px);
    /* transition: linear 100ms; */
    transition: all 0.1s linear;
}

.notesSubtitle {
    font-size: 1em;
    color: #fff;
    font-weight: 700;
    line-height: 1.6;
    text-align: center;
}

.notesDate {
    font-size: 0.87em;
    color: rgba(228, 232, 250, 0.55);
}

.notesLinkText {
    text-decoration: none;
    color: #fff;
}

.notesLinkText:hover {
    color: #fff;
}

.notesItem {
    background-color: #2b3047;
    text-align: center;
    padding: 1rem 1.2rem 1.3rem;
    max-width: 100%;
}

.emoji {
    max-width: 110px;
    max-height: 110px;
}
